@{
    ViewBag.Title = "Index";
}


<h3>我的学习实验列表:</h3>
<ol class="round">
    <li class="one">
        <h5>HTML5</h5>
        <ol>
            <li><a href="http://lention.vicp.cc:71/ADVDEMO/Chart2/CanvasDemoPath.html">CanvasDemoPath</a></li>
            <li><a href="http://lention.vicp.cc:71/ADVDEMO/Chart2/CanversDemo-Transformation.html">CanversDemo-Transformation</a></li>
        </ol>   
    </li>
</ol>
