@{
    ViewBag.Title = "升钟会馆";
}
<script type="text/javascript" src="http://skype.tom.com/script/skypeCheck40.js"></script>
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                本项目是由何蛟创办的非盈利项目，旨在加强升钟片区各地人民之间的联系，增加相互之间的感情。
                合理高效利用相互之间的资源形成一个商业利益群体，共同展开与外界的竞争。在这里，
                你不但可以聊天，交友，发文章增加相互之间的感情，认识更多升钟人，寻找与你在同一个地方的同乡。 
                更是一个商业的舞台。在这里，你可以发布你的项目聚集大家的力量共同完成。你也可以说出你的想法，
                让更多人帮你实现。总之，我们的目的就是让”升钟人“像“温州人”一样成为下一个商业群体代名词。而这一切，
                需要你我共同努力才能实现。
            </p>
        </div>
    </section>
}
<h3>本项目开发计划:</h3>
<ol class="round">
    <li class="one">
        <h5>建立沟通交流平台</h5>
        我们会开发内容管理模块，个人主页模块，在线及时聊天模块等众多沟通交流功能，使大家能通过此平台相互之间变的更加熟悉，
        加强相互之间的联系。在这里，你可能会发现原来熟悉的人就在你的身边。 在这里你也可能发现，原来，你们村还有一位你不认识的朋友。
        无论是何种情况，我们都希望这个平台通建立，加强，深化相互之间的关系。
    </li>

    <li class="two">
        <h5>项目库</h5>
        我们的最终目的并不仅限于让大家相互认识，相互了解。我们更希望大家能依赖各自的优势，发挥各自的特长，相互合作，共同发展。
        在经济领域也能创造另一番天地。在这里，你可以发布自己的项目，让大家了解并参与进来，寻找自己需要的资源。最后通力合作，以将其实现。
        在这里，你也可以发布需求，很有可能这里面的专业人士能帮你解决你的困扰。总之，我们的美好愿望是大家能在经济合作上抱团，共同发展。
        创造下一个商业群体代名词“升钟人”。
    </li>

    <li class="three">
        <h5>信用中心</h5>
        当我们需要进行项目合作时，我们很可能会担心对方的信用问题，虽然大家都是同一个地方的人，但也不排除个别同志自制力差了那么一点。
        所以信用中心就是对每个人进行信用评价，为大家进行商务合作时提供一个参考数据。我们鼓励大家在进行商务合作时，在本平台进行备案，合作过程中进行相互评价。
        你们的评价对其它人了解你们是至关重要的。
    </li>
     <li class="four">
        <h5>其它功能</h5>
       我们会根据实际发展情况，适时增加或者删除部分功能。更多精彩，敬请期待。
    </li>
    <li class="five">
        <h5>建议与意见</h5>
       我们很重视你的意见与建议，如果你有什么好的想法，请告诉我们，我们表示非常的感谢。如果你有一定的资源可以促进本项目的发展（包含但不限于技术，设备，资金等）
       也可以通过以下方式联系我们。<br />
        QQ:<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=76924956&site=qq&menu=yes">
            <img border="0" src="http://wpa.qq.com/pa?p=2:123456:41" alt="点击这里给我发消息" title="点击这里给我发消息">
           </a>
        <br />
        Skyper:<a href="skype:hejiao94?call" onclick="return skypeCheck();">
            <img src="http://skype.tom.com/help/skypebuttons/buttons/call_blue_transparent_70x23.png" style="border: none;" alt="Call me!" /></a>
        <br />
        Email: hejiao94&gmail.com (请把&替换为@@)
    </li>
</ol>
